body {
  font-family: "League Spartan", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c9cebd;
}
header {
  margin-bottom: 25vh;
  font-size: x-large;
  font-weight: bold;
}
h1 {
  font-size: 40px;
  margin-bottom: 1rem;
}
.btn {
  margin-top: 2rem;
  background-color: #322e18;
  border-color: #262322;
  color: #c9cebd;
  font-size: large;
  margin-bottom: 20vh;
  margin-left: 1em;
}
.btn:hover {
  background-color: #838e83;
  color: #262322;
}

.form-control {
  font-weight: bold;
}

footer {
  margin-top: 25%;
  font-size: larger;
  font-weight: bold;
  color: #322e18;
}
/* dark mode */
.light-theme {
  background-color: #c9cebd;
  color: #322e18;
}

.dark-theme {
  background-color: #262322;
  color: #c9cebd;
}
